In [17]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df = pd.read_csv("homey")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
df.columns

Index(['area', 'bedrooms', 'age', 'price'], dtype='object')

In [18]:
df.bedrooms

0    3.0
1    4.0
2    NaN
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [10]:
df.bedrooms.median()

4.0

In [19]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [20]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
reg = linear_model.LinearRegression()

In [24]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [25]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [26]:
reg.intercept_

221323.00186540425

In [28]:
reg.predict([[4000,4,12]])

array([724347.6750421])

In [29]:
112.06*4000+23388.88*4-3231.717*12+221323.0018

724337.9178